/*
Theme Name: The Retailer Child Theme
Theme URI: http://theretailer.getbowtied.com/
Description: This is a child theme for The Retailer.
Author: Get Bowtied
Author URI: http: //www.getbowtied.com/
Template: theretailer
Version: 1.6.5
*/

@import url("../theretailer/style.css");

/****************************************************************/
/*************** ADD YOUR CUSTOM CSS IN THIS AREA ***************/
/****************************************************************/

p.cart .single_add_to_cart_button.alt
{
	background:none !important;
	background-color:#ff5500 !important;
	vertical-align:middle;
	margin:0px !important;
	padding:17px 0px 0px 0px !important;
	height:auto !important;
	line-height:normal;
}


article {
	margin-bottom: 0px;
}

.portfolio_item_cat, .portfolio_details_item_cat { display: none; }

/*FONTS*/

@font-face {
	font-family: 'Conv_HelveticaNeueLTPro-Cn';
	src: url('fonts/HelveticaNeueLTPro-Cn.eot');
	src: local('☺'), url('fonts/HelveticaNeueLTPro-Cn.woff') format('woff'), url('fonts/HelveticaNeueLTPro-Cn.ttf') format('truetype'), url('fonts/HelveticaNeueLTPro-Cn.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_HelveticaNeueLTPro-BdCn';
	src: url('fonts/HelveticaNeueLTPro-BdCn.eot');
	src: local('☺'), url('fonts/HelveticaNeueLTPro-BdCn.woff') format('woff'), url('fonts/HelveticaNeueLTPro-BdCn.ttf') format('truetype'), url('fonts/HelveticaNeueLTPro-BdCn.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.condensed {
	font-family: 'Conv_HelveticaNeueLTPro-BdCn';
}


h1.learn-copy {
	font-family: 'Conv_HelveticaNeueLTPro-Cn';
	font-size: 30px;
	text-align: center !important;
	padding: 40px 0 30px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

h1.learn-copyy {
	font-family: 'Conv_HelveticaNeueLTPro-Cn';
	font-size: 30px;
	text-align: center !important;
	padding: 30px 0 30px;
}


h1.learn-copy strong {
	font-family: 'Conv_HelveticaNeueLTPro-BdCn';
}

h1.learn-copyy strong {
	font-family: 'Conv_HelveticaNeueLTPro-BdCn';
}

#mtphr-dnt-11716
{
	text-align:center !important;
}

h1.learn-header {
	font-family: 'Conv_HelveticaNeueLTPro-Cn';
	font-size: 30px;
	padding-bottom: 1px;
	text-align:center !important;
}

h1.learn-header strong {
	font-family: 'Conv_HelveticaNeueLTPro-BdCn';
}

.entry-content h3 {
	padding: 0 0 15px 0;
}

.entry-content h4 {
	font-size: 16px !important;
	line-height: 1.6em !important;
}

.entry-content p, .entry-content ol li {
	font-size: 14px;
	line-height: 1.8em;
}

.shortcode_big_box_txt_bg h3 {
	font-family: georgia, serif;
	font-style: italic;
	font-size: 28px;
}

.from_the_strategy_title h3 {
	padding: 15px 0 6px;
}

.from_the_strategy_item .from_the_blog_comments {
	padding: 0 0 10px;
}

.textwidget {
	font-weight: normal;
}

/*BUTTONS*/

a.button,
.textwidget input[type=submit],
.content_grid_3 input[type=submit],
.wpcf7-submit,
.woocommerce button.button.alt,
.woocommerce input.button,
.tribe-events-read-more,
.more-link,
.plus, .minus,
.cart_list a.button,
#place_order,
.button-signup,
a.add_to_cart_button.button.product_type_simple,
.shipping-calculator-button,
.woocommerce button.button {
	display: inline-block !important;
	text-transform: none !important;
	font-size: 16px;
	text-decoration: none !important;
	font-weight: 600 !important;
	padding: 12px 14px !important;
	background-color: #ccccccc !important;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1)) !important;
	border-radius: 3px !important;
	border: 1px !important;
	color: rgba(0,0,0) !important;
	text-shadow: 0 1px 1px rgba(255,255,255,.7) !important;
	box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7) !important;
}

a.button:active,
.textwidget input[type=submit]:active,
.content_grid_3 input[type=submit]:active,
.wpcf7-submit:active,
.woocommerce button.button.alt:active, .woocommerce button.button.alt.active,
.woocommerce input.button:active,
.tribe-events-read-more:active,
.more-link:active,
.plus:active, .minus:active,
.cart_list a.button:active,
#place_order:active,
.button-signup:active,
a.add_to_cart_button.button.product_type_simple:active,
.woocommerce button.button:active {
	background-color: #d0d3d6 !important;
	background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0)) !important;
	box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2) !important;
}



input#place_order.button.alt {
	font-size: 18px !important;
}

.more-link, .tribe-events-read-more {
	padding: 5px 8px !important;
}

.cart_list a.button {
	width: 238px !important;
}



/*ORANGE BUTTON*/

.button-orange,
#place_order,
.add_to_cart_button.product_type_simple.button.product_type_bundle {
	display: inline-block !important;
	text-transform: none !important;
	font-size: 12px;
	text-decoration: none !important;
	font-weight: 700 !important;
	padding: 13px 15px 11px !important;
	background-color: #FE9000 !important;
	background-image: linear-gradient(rgba(225, 145, 0, 0), rgba(225, 110, 0, 1)) !important;
	border-radius: 3px !important;
	border: 1px none !important;
	color: rgba(255, 255, 255, 1) !important;
	text-shadow: 0 -1px 0 rgba(240, 100, 0, 1) !important;
	box-shadow: 0 0 0 1px rgba(230, 70, 0, 0.7), 0 1px 2px rgba(100, 40, 0, 0.6), 0 1px 2px rgba(255, 255, 0, 0.5) inset !important;
	outline: none;
}

.button-orange:hover,
#place_order:hover,
.add_to_cart_button.product_type_simple.button.product_type_bundle:hover {
	background-color: #ff9b1e !important;
	background-image: linear-gradient(rgba(255, 155, 30, 0), rgba(225, 125, 0, 1)) !important;

}

.button-orange:active,
#place_order:active,
.add_to_cart_button.product_type_simple.button.product_type_bundle:active {
	background-color: #dc6400 !important;
	background-image: linear-gradient(rgba(220, 100, 0, 0), rgba(230, 120, 0, 1)) !important;
	box-shadow: inset 0 0 2px rgba(100,40,0,.2), inset 0 2px 5px rgba(100,40,0,.2), 0 1px rgba(255,255,255,.2) !important;

}


/*LIST FIX*/

.entry-content ul li {
	font-size: 14px;
	line-height: 1.8em;
	padding: 0 0 10px 0;
}




/*VIEW CART FIX*/

.woocommerce-message a.button {
	float: right;
}

.woocommerce-message a.button:hover {
	background: none !important;
}

.woocommerce-message a.button:active {
	background-color: none !important;
	background-image: none !important;
	box-shadow: none !important;
}



/*HEADER*/
a#your-account {
	color: #ffffff;
}
a#your-account:hover {
	opacity: .5;
}

.gbtr_header_wrapper {
	padding-top: 53px !important;
	padding-bottom: 35px !important;
}

.gbtr_tools_wrapper {
	background: #333333;
}


.gbtr_tools_search {
	display: none;
}

.gbtr_tools_account {
	display: none;
}

.social-header {
	float: right;
}

.social-header a {
	color: #f4f4f4;
	padding: 10px 15px;
	line-height: 29px;
	-moz-transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}

.social-header .tw {
	background: rgba(0, 172, 237, .25);
}
.social-header .fb {
	background: rgba(59, 89, 152, .25);
}
.social-header .gp {
	background: rgba(221, 75, 57, .25);
}
.social-header .li {
	background: rgba(0, 123, 182, .25);
}
.social-header .yt {
	background: rgba(187, 0, 0, .25);
}

.social-header .tw:hover {
	background: rgba(0, 172, 237, 1);
}
.social-header .fb:hover {
	background: rgba(59, 89, 152, 1);
}
.social-header .gp:hover {
	background: rgba(221, 75, 57, 1);
}
.social-header .li:hover {
	background: rgba(0, 123, 182, 1);
}
.social-header .yt:hover {
	background: rgba(187, 0, 0, 1);
}

@media only screen and (max-width: 719px) {
	.gbtr_tools_wrapper .call-us {
		display: none;
	}
	.social-header a {
		padding: 10px 7px;
	}
}




/*MENU*/

.gbtr_first_menu_inside ul:first-child > li > a {
	font-family: 'Helvetica' !important;
	font-size: 18px;
	font-weight: 400;
}

a.sf-with-ul {
	padding-right: 24px !important;
}

a > .sf-sub-indicator {
	top: 16px;
}

.menus_wrapper {
	position: relative;
	bottom: 2px;
}



#menu-item-9771 a {
	background: #E35317;
	color: #FFFFFF !important;
}

#menu-item-35706 a {
	background: #c10000;
	color: #FFFFFF !important;
}

#menu-item-35735 a {
	background: #c10000;
	color: #FFFFFF !important;
}

#menu-item-37714 a {
	background: #c10000;
	color: #FFFFFF !important;
}

#menu-item-38353 a {
	background: #000000;
	color: #FFFFFF !important;
}

#menu-item-45116 a {
	background: #ff0000 !important;
	color: #FFFFFF !important;
}

.sf-menu a {
	padding: 8px 10px 1px 10px;
}


/*SLIDER*/
.tp-leftarrow.large, .tp-leftarrow.default, .tp-rightarrow.large, .tp-rightarrow.default {
	background-color: #333333;
}



/*MAP FIX*/

.entry-content img {
	/* max-width: none; */
}


/*PRODUCT QUANTITY FIX*/

div.product form.cart div.quantity {
	margin-right: 20px;
}

/*PRODUCT GALLERY FIX*/
.product_single_slider_next, .product_single_slider_previous {
	display: none;
}


/*PRODUCT BUNDLE SUMMARY FIX*/

.bundled_product_summary {
	display: none;
}

/*PRODUCT LEARN ADD TO CART BUTTON FIX*/

p.product.woocommerce span.amount {
	display: none;
}


/*PRODUCT CATEGORY LIST IMAGE FIX*/

li.product-category img {
	display: none;
}

/*PRODUCT SEARCH*/
#product_search-2 input#s {
	border: 1px solid #ccc !important;
}

#product_search-2 {
	float: right;
}

@media only screen and (max-width: 719px) {
	#product_search-2 {
		width: 220px;
		margin: 0 auto;
		display: block;
		float: none;
	}
}

/*PRODUCT DESCRIPTION*/

.gbtr_product_description p {
	padding-bottom: 12px;
}

div.product .summary span.price del, div.product .summary p.price del, #content div.product .summary span.price del, #content div.product .summary p.price del {
	font-size: 24px !important;
	font-color: #ff0000 !important;
}

/*TABLES*/

.tg-table-light {
	border-collapse: collapse;
	border-spacing: 0;
}

.tg-table-light td, .tg-table-light th {
	background-color: #fff;
	border: 1px #ccc dotted;
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	padding: 3px 10px;
	vertical-align: top;
}
.tg-table-light .tg-even td  {
	background-color: #f4f4f4;
}
.tg-table-light th  {
	background-color: #f4f4f4;
	color: #3d3d3d;
	font-size: 12px;
	font-weight: bold;
	width: 60px !important;
}
.tg-table-light tr:hover td, .tg-table-light tr.even:hover td  {
	color: #222;
	background-color: #FCFBE3;
}
.tg-bf { font-weight: bold; }
.tg-it { font-style: italic; }
.tg-left { text-align: left; }
.tg-right { text-align: right; }
.tg-center { text-align: center; }



/*HOME STRATEGY*/

.from_the_strategy_title h3 {
	font-size: 30px;
}

.from_the_strategy_item .entry-meta {
	display: block;
	padding: 15px 0;
	margin-bottom: 20px;
}

.from_the_strategy_excerpt {
	padding: 0 0 20px 0;
	font-size: 14px;
	line-height: 1.8em;
	color: #555;
}

.gbtr_items_slider.from_the_strategy {
	height: 400px !important;
	padding-top: 0;
}

@media all {
	.from_the_strategy_item:last-child {
		width: 100% !important;
	}

	.gbtr_items_slider.from_the_strategy {
		height: 500px !important;
	}

	.gbtr_items_slider.from_the_strategy h2 {
		font-size: 16px;
	}
}



/*HOME TICKER*/

.mtphr-dnt-tick-container {
	background: #f4f4f4;
	padding: 15px 0 5px;
}

.mtphr-dnt-posts-date {
	font-size: 10px;
}

.entry-content h4 {
	font-size: 14px;
}

.mtphr-dnt-11716 .mtphr-dnt-tick-container {
	background: none;
}



/*PRODUCT*/

.tagged_as {
	display: none !important;
}

.product_button {
	display: none !important;
}



/*MINI CART REMOVE BUTTON FIX*/

.gbtr_minicart_wrapper a.remove {
	display: none !important;
}

/*CHECKOUT*/

.coupon .input-text {
	padding: 8px 9px 8px 9px;
	width: 118px;
}

ul#shipping_method li {
	list-style: none;
}

.woocommerce table.shop_table, .woocommerce-page table.shop_table {
	border: none !important;
}

.checkout .input-text, .chzn-container-single .chzn-single, .woocommerce .chzn-container-single .chzn-single {
	color: #222 !important;
}

#pay_with_amazon {
	position: relative;
	top: 10px;
	float: right;
}


/*SOCIAL SHARRRE*/

#social {
	text-align:center;
}

#social-center {
	display:inline-block;
	text-align:left;
}

.sharrre {
	margin: 10px 5px 0 0;
	float: left;
}

.sharrre .count {
	background-color: #F1F3F6;
	color: #333333;
	display: inline-block;
	float: right;
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 12px;
	font-weight: bold;
	line-height: 26px;
	margin-left: 4px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 10px;
}

.share {
	color: #FFFFFF;
	float: left;
	font-family: "Helvetica Neue";
	font-size: 13px;
	text-decoration: none;
	padding: 0 10px 0 31px;
	line-height: 26px;
}


.twitter .share {
	background: #00aced url('images/twitter.png') 5px 3px no-repeat;
	background-size: 20px;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 3px;
}
.twitter .share:active {
	background-color: #353535;
}

.facebook .share {
	background: #3b5998 url('images/facebook.png') 5px 3px no-repeat;
	background-size: 20px;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 3px;
}
.facebook .share:active {
	background-color: #353535;
}

.googleplus .share {
	background: #007bb6 url('images/google-plus.png') 5px 3px no-repeat;
	background-size: 20px;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 3px;
	background-color: #dd4b39;
}
.googleplus .share:active {
	background-color: #353535;
}

.linkedin .share {
	background: #007bb6 url('images/linkedin.png') 5px 3px no-repeat;
	background-size: 20px;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 3px;
}
.linkedin .share:active {
	background-color: #353535;
}

.total-share .share {
	padding: 0 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 3px;
	background-color: #353535;
	cursor: default;
}

@media all and (max-width: 960px) {
	.twitter .share, .facebook .share, .googleplus .share, .linkedin .share {
		text-indent: -800px;
		padding: 0 15px;
	}
}


/*HIDE REGISTER*/
.gbtr_login_register_switch {
	display: none;
}


/*EVENTS FROM DATE FIX*/

.tribe-bar-disabled {
	z-index: 1;
}

/*EVENTS FEATURED IMAGE FIX*/

.tribe-events-event-image img {
	max-width: 100% !important;
	display: block;
	margin: 0 auto;
}



/*EVENTS LIST BACKGROUNDS*/

.events-list #tribe-events-footer {
	margin-top: 0;
}

.tribe-events-category-los-angeles {
	background: url('//www.grantcardone.com/wp-content/uploads/cardone-event-los-angeles.jpg') left bottom no-repeat;
	min-height: 200px;
}
.tribe-events-category-san-diego {
	background: url('//www.grantcardone.com/wp-content/uploads/cardone-event-san-diego.jpg') left bottom no-repeat;
	min-height: 200px;
}
.tribe-events-category-miami-beach {
	background: url('//www.grantcardone.com/wp-content/uploads/cardone-event-miami-beach.jpg') left bottom no-repeat;
	min-height: 200px;
}
.tribe-events-category-clearwater {
	background: url('//www.grantcardone.com/wp-content/uploads/cardone-event-clearwater.jpg') left bottom no-repeat;
	min-height: 200px;
}
.tribe-events-category-new-orleans {
	background: url('://www.grantcardone.com/wp-content/uploads/cardone-event-new-orleans.jpg') left bottom no-repeat;
	min-height: 200px;
}



/*TITLE SEPERATOR*/

.bold_title {
	border-bottom: 1px solid #ccc;
	margin: -10px 0 10px 0;
}

.bold_title span {
	border: 1px solid #ccc;
	text-transform: none;
	color: #222;
}



/*BLOG*/

.byline {
	display: none;
}

footer.entry-meta a {
	padding: 0 10px 0 6px !important;
}

.gbtr_post_title_listing a {
	color: #ffffff !important;
	padding: 20px 28px !important;
	background-color: #333333 !important;
}

.entry-thumbnail {
	margin: 0px !important;
}

.format-standard .entry-meta {
	padding: 20px 0;
	margin-top: 0;
}

h1.entry-title.gbtr_post_title_listing {
	padding: 0px;
}


/*ZONE*/

#ustream {
	height: 700px;
}

@media only screen and (max-width: 479px) {
	#ustream {
		height: 250px;
	}
}




/*FROM THE BLOG/ZONE FIX*/
.gbtr_items_slider.from_the_blog {
	height: 250px !important;
}


.from_the_blog_item {
	width: 280px !important;
}



/*BLOG FOOTER*/

.tags-links a{
	background: #eee;
	border-radius: 3px 0 0 3px;
	color: #999;
	display: inline-block;
	line-height: 26px;
	padding: 0 20px 0 10px !important;
	position: relative;
	margin: 0 0 0 3px;
	text-decoration: none;
	-webkit-transition: color 0.2s;
}

.tags-links a::after {
	background: #fff;
	border-bottom: 13px solid transparent;
	border-left: 10px solid #eee;
	border-top: 13px solid transparent;
	content: '';
	position: absolute;
	right: 0;
	top: 0;
}

.tags-links a:hover, .tags-links a:active {
	color: #555555 !important;
}

.entry-meta a {
	text-transform: none;
}

footer.entry-meta a {
	padding: 0 10px 0 17px;
}



/* SIGNUP */

#signup { margin-right: 0; }

.box h2 {
	font-family: 'Conv_HelveticaNeueLTPro-BdCn', Helvetica, Arial, sans-serif !important;
	font-size: 36px !important;
	color: #035ea3;
	padding-bottom: 10px;
}

ul.box li {
	list-style-type: none;
	margin: 0;
	padding: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	position: relative;
	float: left;
	background: #ffffff; /* old browsers */
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

ul.box li:after {
	z-index: -1;
	position: absolute;
	background: transparent;
	width: 70%;
	height: 55%;
	content: '';
	right: 10px;
	bottom: 10px;
	-webkit-transform:skew(15deg) rotate(6deg);
	-moz-transform:skew(15deg) rotate(6deg);
	-ms-transform:skew(15deg) rotate(6deg);
	-o-transform:skew(15deg) rotate(6deg);
	transform:skew(15deg) rotate(6deg);
	-webkit-box-shadow:0 8px 16px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 8px 16px rgba(0, 0, 0, 0.3);
	box-shadow:0 8px 16px rgba(0, 0, 0, 0.3);
}

ul.box li:before {
	z-index: -2;
	position: absolute;
	background: transparent;
	width: 70%;
	height: 55%;
	content: '';
	left: 10px;
	bottom: 10px;
	-webkit-transform:skew(-15deg) rotate(-6deg);
	-moz-transform:skew(-15deg) rotate(-6deg);
	-ms-transform:skew(-15deg) rotate(-6deg);
	-o-transform:skew(-15deg) rotate(-6deg);
	transform:skew(-15deg) rotate(-6deg);
	-webkit-box-shadow:0 8px 16px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 8px 16px rgba(0, 0, 0, 0.3);
	box-shadow:0 8px 16px rgba(0, 0, 0, 0.3);
}


#signup .input-text {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	outline: 0;
	padding: 7px 8px !important;
	line-height: inherit;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 20px;
	color: #777777;
	border: 1px solid #c4c4c4;
}

/*CONTACT US FORM FIX*/

.content_grid_6 textarea, .content_grid_6 input[type=text], .content_grid_6 input[type=email] {
	width: 379px !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content_grid_6 .ajax-loader {
	float: left;
}



/*ON-DEMAND*/

.on-demand-video {
	border: 10px solid #ffffff;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0 0 30px 0 #444444;
	-moz-box-shadow: 0 0 40px 0 #444444;
	-webkit-box-shadow: 0 0 40px 0 #444444;
	position: relative;
	top: -140px;
	z-index: 99;
}

@media only screen and (max-width: 959px) {
	.on-demand-video {
		width: 94.5% !important;
	}
}

.on-demand-image {
	margin: 0 !important;
	position: relative;
	width: 235px;
}

.on-demand-image h2 {
	font-family: 'Conv_HelveticaNeueLTPro-Cn', Helvetica, Arial, sans-serif !important;
	font-size: 48px !important;
	text-transform: uppercase;
	-webkit-text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.95), 0px 0px 10px rgba(0, 0, 0, 0.95);
	-moz-text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.95), 0px 0px 10px rgba(0, 0, 0, 0.95);
	-ms-text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.95), 0px 0px 10px rgba(0, 0, 0, 0.95);
	-o-text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.95), 0px 0px 10px rgba(0, 0, 0, 0.95);
	text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.95), 0px 0px 10px rgba(0, 0, 0, 0.95);
	color: #ffffff;
	left: 0;
	position:absolute;
	text-align:center;
	top: 75%;
	width: 100%
}

@media only screen and (min-width: 959px) {
	.on-demand-image h2 {
		font-size: 30px !important;
	}
}

@media only screen and (max-width: 959px) and (min-width: 479px) {
	.on-demand-image {
		width: 50% !important;
		float: left;
	}
}


/*PRODUCT LIST SIDEBAR*/

.product_list_widget_img_wrapper img.attachment-shop_thumbnail.wp-post-image {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
}


/*TESTIMONIALS*/

.testimonial_right_content, .testimonial_left_content, .testimonial_footer_content {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.testimonial_right_author img, .testimonial_left_author img {
	max-width: 100px !important;
}

.slide_everything {
	margin: 0;
}

.slide_everything .slide_everything_previous {
	top: 0;
	left: 0;
	background-position: -610px 18px;
	width: 38px;
	height: 100px;
	margin-top: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.slide_everything .slide_everything_next {
	top: 0;
	right: 0;
	background-position: -714px 18px;
	width: 38px;
	height: 100px;
	margin-top: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.slide_everything .testimonial_right_content span  {
	padding-right: 40px !important;
}

.testimonial_left_content p, .testimonial_right_content p, .testimonial_left_content li, .testimonial_right_content li  {
	font-size: 14px !important;
	font-style: normal !important;
	line-height: 1.8em !important;
	color: #555 !important;
}

.woocommerce-tabs .testimonial_right_content {
	margin-right: 0;
	width: 65%;
}
.woocommerce-tabs .testimonial_left_content {
	margin-right: 0;
	width: 65%;
}

.woocommerce-tabs .testimonial_left_author {
	padding-left: 6%;
}

.testimonial_right_content span, .testimonial_left_content span {
	font-size: 14px;
	font-style: normal;
	line-height: 1.8em;
	color: #555;
}

.woocommerce-tabs .testimonial_right_author {
	padding-right: 6%;
}

@media only screen and (min-width: 959px) {
	.slide_everything_content {
		width: 940px;
	}
	.testimonial_right_content {
		margin-right: 63px;
		width: 65%;
	}
	.slide_everything .testimonial_right_author {
		width: 13%;
	}
}

@media only screen and (max-width: 959px) and (min-width: 719px) {
	.testimonial_right_content {
		margin-right: 8%;
		width: 57%;
	}

	.woocommerce-tabs .testimonial_right_content, .woocommerce-tabs .testimonial_left_content {
		width: 61%;
	}
}

@media only screen and (max-width: 719px) {
	.slide_everything .slide_everything_next {
		right: 1px;
	}
	.testimonial_right_content {
		width: 89.5%;
	}
	.woocommerce-tabs .testimonial_right_content, .woocommerce-tabs .testimonial_left_content {
		width: 90%;
	}
}

.content_grid_6 textarea {
	width: 440px;
}
.testimonial_right_content.video div:before, .testimonial_left_content.video div:before {
	background-position: 1000px 1000px !important;
}
.testimonial_footer_content {
	background: #f4f4f4;
	padding: 34px;
	float: none;
	position: relative;
	margin-bottom: 20px;
}
.testimonial_footer_content:before {
	content: "";
	width: 40px;
	height: 40px;
	background: none;
	background-image: url(images/sprites.png);
	background-position: -600px -150px;
	background-repeat: no-repeat;
	position: absolute;
}
.testimonial_footer_content div {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 1.8em;
	color: #555;
	padding-top: 40px;
}
.testimonial_footer_content:before {
	border-color: rgba(204, 204, 204, 0);
	border-top-color: #ccc;
	border-width: 16px;
	left: 50px;
	margin-left: -16px;
}
.testimonial_footer_content:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.testimonial_footer_content:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #f4f4f4;
	border-width: 15px;
	left: 50px;
	margin-left: -15px;
}


/*CONTACT*/

.content_grid_6 .wpcf7-submit {
	padding-left: 20px !important;
	padding-right: 20px !important;
}


/*CRAWLER*/

.marquee0 {
	width: 100%;
	margin-bottom: 40px;
}
.marquee0:before {
	position: absolute;
	content: '';
	background: url('wp-content/uploads/cardone-logo-foreground-940.png') no-repeat;
	width: 100%;
	height: 100%;
	z-index: 99;
}

@media only screen and (max-width: 959px) and (min-width: 479px) {
	.marquee0:before {
		background: url('wp-content/uploads/cardone-logo-foreground-700.png') no-repeat;
		.global_wrapper
		{margin-top:0px;}
	}
}

@media only screen and (max-width: 479px) {
	.marquee0:before {
		background: url('wp-content/uploads/cardone-logo-foreground-380.png') no-repeat;
	}
}

.crawl {
	padding: 0 40px;
}


/*LIGHT FOOTER*/

.gbtr_light_footer_wrapper .widget img {
	float: left;
	margin: 0 15px 65px 0;
}

.gbtr_light_footer_wrapper {
	padding: 50px 0 0 0;
}


/*DARK FOOTER*/

.gbtr_dark_footer_wrapper .widget {
	padding: 0 0 33px 0;
}
.gbtr_dark_footer_wrapper .widget_nav_menu ul li {
	text-transform: none !important;
	font-weight: normal !important;
	font-size: 12px !important;
	width: 100% !important;
	line-height: 8px !important;
}
#nav_menu-3 h1.widget-title {
	visibility: hidden !important;
}
.widget input[type=text], .gbtr_dark_footer_wrapper .wpcf7-form-control {
	width: 176px;
	padding: 7px 35px 7px 7px !important;
	font-size: 12px !important;
	border: 1px solid #3d3d3d !important;
}
.gbtr_dark_footer_wrapper .wpcf7-submit {
	width: 80px !important;
	float: right !important;
	margin: -3px 0 20px 0 !important;
	padding: 9px !important;
}
.bottom_wrapper {
	border-top: none !important;
}
.wpcf7-form input {
	width: 200px;
}
.bottom_wrapper {
	padding: 17px 0;
}


/*COPYRIGHT FIX*/

.gbtr_footer_widget_copyrights {
	position: relative;
	text-transform: none;
}


/*WP KEYWORD FIX*/

.wp_keywordlink {
	padding-left: 0 !important;
	display: inline !important;
}

/*ARCHIVE CALENDAR*/

.calendar-archives{
	position:relative;
	width:100%;
	overflow:hidden;
}
.calendar-archives .year{
	position:absolute;
	top:0;
	left:-100%;
	width:100%;
}
.calendar-archives .year.current{
	position:relative;
	left:0;
}
.year-nav{
	overflow:hidden;
	background:#E35317;
	border-bottom:1px #fff solid;
	height:30px;
}
.year-nav a{
	display: block;
	text-align:center;
	text-decoration:none;
	padding:6px;
	color:#FFF!important
}
.year-link {
	width:auto;
	margin:0 25%;
	font-size:18px;
}
.prev-year, .next-year{
	display:block;
	width:18px; height:18px;
	position:absolute;
	font-size:18px;
	top:0;
}
.prev-year{
	left:0;
	border-right:1px #fff solid;
}
.next-year{
	right:0;
	border-left:1px #fff solid;
}
.prev-year:hover, .next-year:hover{ background:#3d3d3d }
.year {	overflow:hidden; }
.year .month{
	float:left;
	width:25%;
	height:50px;
	border-right:1px #FFFFFF solid;
	border-bottom:1px #FFFFFF solid;
	overflow:hidden;
	background:#ccc;
	position:relative;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}
.year .month.last {border-right:0}
.month:hover {background:#3d3d3d}
.month.empty {color:#ccc; background:#f0f0f0;}
.year .month a {margin:0; padding:0; display:block; width:100%; height:100%; color:#FFF!important}

.month .month-name {text-transform:capitalize; font-size:16px; font-weight:400; display:block; position:absolute; top:6px; left:8px;}
.month .postcount {position:absolute; bottom:6px; right:6px;}
.postcount .count-number {}
.postcount .count-text {font-size:9px;}




/****************************************************************/
/****************************************************************/
/****************************************************************/

/**********************
EDITS
**********************/


.events-archive .entry-content, .events-archive .entry-header {
	width: 100% !important;
}


.floatingbanner img{
	width:100%;
}


.global_wrapper
{margin-top:48px;}

.tp-leftarrow.large, .tp-leftarrow.default {
	z-index: 100;
	cursor: pointer;
	position: relative;
	background: none;
	background-image: url(images/sprites.png);
	background-position: -600px 0;
	background-repeat: no-repeat;
	background-color: #000;
	width: 64px;
	height: 64px;
	margin-left: 0px;
	margin-top: -32px;
	-webkit-border-radius: 64px;
	-moz-border-radius: 64px;
	border-radius: 64px;
}

.tp-rightarrow.large, .tp-rightarrow.default {
	z-index: 100;
	cursor: pointer;
	position: relative;
	background: none;
	background-image: url(images/sprites.png);
	background-position: -700px 0;
	background-repeat: no-repeat;
	background-color: #000;
	width: 64px;
	height: 64px;
	margin-left: -20px;
	margin-top: -32px;
	-webkit-border-radius: 64px;
	-moz-border-radius: 64px;
	border-radius: 64px;
}

.tp-leftarrow.large, .tp-leftarrow.default, .tp-rightarrow.large, .tp-rightarrow.default {
	background-color: #333333;
}

blockquote:before, .format-status .entry-content:before, .woocommerce_message::before, .woocommerce_error::before, .woocommerce_info::before, .woocommerce-message::before, .woocommerce-error::before, .woocommerce-info::before, .widget #searchform input[type=submit], .gbtr_tools_search_inputbutton, .gbtr_little_shopping_bag .title, ul.cart_list .remove, ul.cart_list .empty:before, .gbtr_product_sliders_header .big_arrow_right, .gbtr_items_sliders_header .big_arrow_right, .gbtr_product_sliders_header .big_arrow_right:hover, .gbtr_items_sliders_header .big_arrow_right:hover, .gbtr_product_sliders_header .big_arrow_left, .gbtr_items_sliders_header .big_arrow_left, .gbtr_product_sliders_header .big_arrow_left:hover, .gbtr_items_sliders_header .big_arrow_left:hover, .product_button a.button, .product_button button.button, .product_button input.button, .product_button #respond input#submit, .product_button #content input.button, .product_button a.button:hover, .product_button button.button:hover, .product_button input.button:hover, .product_button #respond input#submit:hover, .product_button #content input.button:hover, .product_type_simple, .product_type_variable, a.button.added::before, button.button.added::before, input.button.added::before, #respond input#submit.added::before, #content input.button.added::before, .gbtr_product_share ul li a.product_share_facebook:before, .gbtr_product_share ul li a.product_share_pinterest:before, .gbtr_product_share ul li a.product_share_email:before, .gbtr_product_share ul li a.product_share_twitter:before, .product_single_slider_previous, .product_single_slider_next, .product_navigation .nav-previous-single a, .product_navigation .nav-previous-single a:hover, .product_navigation .nav-next-single a, .product_navigation .nav-next-single a:hover, table.shop_table a.remove, table.shop_table a.remove:hover, .gbtr_left_column_cart_sep, .empty_bag_icon, .checkout h3:after, .gbtr_checkout_method_header:after, #nav-below .nav-previous-single a .meta-nav, #nav-below .nav-previous-single a:hover .meta-nav, #nav-below .nav-next-single a .meta-nav, #nav-below .nav-next-single a:hover .meta-nav, .accordion .accordion-title:before, .accordion .accordion-title.active:before, .testimonial_left_content div:before, .testimonial_right_content div:before, .slide_everything .slide_everything_previous, .slide_everything .slide_everything_next, .products_slider_previous, .products_slider_next, .gbtr_little_shopping_bag_wrapper_mobiles, .menu_select, .theretailer_product_sort, .img_404, .tp-leftarrow.large, .tp-leftarrow.default, .tp-rightarrow.large, .tp-rightarrow.default, .widget ul li.recentcomments:before, #icl_lang_sel_widget a.lang_sel_sel {
	background-image: url(/wp-content/themes/theretailer/images/sprites.png) !important;
}

form input[type=submit] {
	padding: 20px 50px;
	font-size: 12px !important;
	color: #fff;
	border: 0;
	margin: 15px;
	background: #000;
	font-weight: 900;
	text-transform: uppercase;
	cursor: pointer;
	transition: all .2s;
}

.global_content_wrapper {
	margin: 30px auto;
}

.category_header {
	padding: 0
}

.archive .category_header h1.page-title, .category_header h1.page-title {
	text-align: inherit;
}

em.items_found, .woocommerce-result-count {
	display: inline-block;
	font-size: 13px;
	color: #555;
	padding: 5px 0 0 0;
	font-style: italic;
	font-weight: normal;
	text-transform: none;
}

.listing_products .filter_wrapper {
	position: absolute;
	top: -4px;
	right: 0px;
	font-size: 12px;
}

.filter_wrapper.woocommerce2 {
	top: 8px !important;
}

.select2-container .select2-choice span {
	margin-right: 0
}

.select2-container .select2-choice > .select2-chosen {
	font-weight: normal;
	height: 22px
}

.select2-container {
	height: 25px
}

.listing_products .products-categories,
.listing_products .paddingbottom40,
.product_infos p.in-stock,
.product_list_widget p.total small {
	display: none;
}

.woocommerce img, .woocommerce-page img {
	max-width: 100% !important;
}

.product_navigation {
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	height: 50px;
	display: inherit;
	width: inherit;
	float: none;
}

.product_main_infos {
	border-bottom: 1px solid #000;
}

.gbtr_logo img {
	max-width: none !important;
}

.content_wrapper {
	width: 960px;
}

.main-navigation ul ul {
	padding: 0 0 15px;
}

.no-hyperlink > a{
	color: #bbb !important;
	cursor: default !important;
}

.no-hyperlink > a:hover {
	color: #bbb !important;
}

#new-hire,
#sales-meeting,
#road-to-sale,
#objections {
	margin-bottom: 20px;
}

div.pay-with-a-tweet-download {
	padding-right: 60px;
	padding-left: 60px;
	margin-right: auto;
	margin-left: auto;
}

#testimonial-submit-form form,
#testimonial-submit-form h2,
#testimonial-submit-form .tmls_form_error_message,
#testimonial-submit-form .tmls_form_success_message {
	margin: 0 auto;
	width: 640px;
}

.tmls.large_image .tmls_container .tmls_item .tmls_image,
.tmls_images_pagination.large_image .tmls_paginationContainer .tmls_image {
	width: 125px;
	height: 125px;
}

.tmls.style2.large_image .tmls_text,
.tmls.style2.large_image .tmls_name,
.tmls.style2.large_image .tmls_position,
.tmls.style2.large_image .tmls_twitter,
.tmls.style2.large_image .tmls_rating {
	margin-left: 150px;
}

.testimonial-title {
	float: left;
}

.submit-testimonial-banner {
	float: right;
}

.testimonials-block {
	padding-top: 20px;
}

.submit-testimonial-banner img {
	width: 100%;
}

.coupon .input-text {
	width: 120px !important;
	height: 36px !important;
}

.cart_totals {
	clear: none;
}

.cross-sells .product_item {
	float: none;
}

.wc-proceed-to-checkout a.button {
	display: inline-block !important;
	color: #fff !important;
	border-radius: 3px !important;
	text-shadow: 0 1px 1px rgba(255,255,255,.7) !important;
	box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7) !important;
}

.tmls .tmls_container.tmls_grid {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.rokerp {
	background: #efefef url("wp-content/uploads/eventpage-roker-fullpage-bg-efefef.jpg") no-repeat center;
	padding: 40px;
}

.products_slider_previous,
.products_slider_next {
	z-index: 1;
}

.fluid-width-video-wrapper {
	/* padding-top: 0 !important; */
}

#social-follow-btns {
	text-align: center;
}

#sow-form .gform_footer {
	margin-top: 0px;
	padding-top: 0px;
}

#sow-form .gform_footer input[type=submit] {
	margin-left: 0;
	margin-bottom: 0;
}

#sow-form .gform_wrapper {
	margin: 13px;
}

#sow-form .gform_description {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 25px;
}

#sow-form .gform_heading {
	text-align: center;
}

#medium-feed .title_subtitle h3 {
	padding: 15px 0 15px 0;
	text-transform: uppercase;
	font-weight: 600;
}

#medium-feed .title_subtitle {
	margin-bottom: 0;
	text-align: center;
}

.sow-post-articles .vc_pageable-load-more-btn .vc_button-2-wrapper {
	text-align: inherit;
}

.sow-post-articles .vc_pageable-load-more-btn .vc_button-2-wrapper a {
	background-color: #0d72ba;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
	color: #ffffff !important;
}

.sow-post-articles .vc_pageable-load-more-btn {
	margin-top: 0;
}

ul.wwm_social_share {
	padding: 0 10px 0 0;
}

.wwm_socialshare_imagewrapper img {
	cursor: default;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.single_add_to_cart_button,
.woocommerce a.button.alt,
.woocommerce p.add_review a.button,
.out_of_stock_badge_loop,
.woocommerce input.button {
	background: #ff0000 !important;
}

.gbtr_dark_footer_wrapper .widget input[type=submit] {
	background: #666 !important;
}

.product_item .price del .amount,
.product_item .price .from {
	font-size: 14px !important;
	color: #ff0000 !important;
	font-weight: bold !important;
}

div.product .summary span.price del,
div.product .summary p.price del,
#content div.product .summary span.price del,
#content div.product .summary p.price del {
	display: inline-block;
	font-size: 14px;
	font-weight: bold !important;
	color: #ff0000 !important;
}

.shortcode_title, 
.entry-content .shortcode_title {
	color:#000;
	padding:15px 0;
	margin-bottom: 20px;
	font-size:16px;
	text-transform:uppercase;
	font-weight: bold;
	position: relative;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	float: right;
}


/* Rearranged Coupon Code */
#checkout_cart input#coupon_code {
	width:auto;
}

/* Style to overcome jQuery dialog's inline styling on the coupon dialog (Optional) */
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.coupon-special {
	position: relative;
	top: 0 !important;
	left: 0 !important;
	border: 0;
}

/* Remove the close coupon field button (Optional) */
.ui-widget-header {
	display:none;
}

#order_review_heading {
	margin-top: 0;
}

/* Apply styles to Smart Offers elements */
body.woocommerce-cart div.so_accept {
	width: inherit !important;
}

body.woocommerce-cart .so-offer-content .entry-content h2,
body.woocommerce-cart .so-offer-content .entry-content p,
body.woocommerce-cart div[id^="so-entry-content"] {
	padding: 0;
}

.so-offer-content.so-inline .offer-image {
	display:block;
	margin:auto;
}

.woocommerce_category_header_image {
	display: block;
}


#footer-gc-properties-logos .container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

#footer-gc-properties-logos .col-xs-6 {
	width: 50%;
	float: left;
}

#footer-gc-properties-logos .row {
	margin-left: -15px;
	margin-right: -15px;
}

@media (min-width: 768px) {
	#footer-gc-properties-logos .col-sm-3 {
		width: 25%;
		float: left;
	}
}

#footer-gc-properties-logos {
	text-align: center;
	line-height: 100px;
}

#footer-gc-properties-logos img.property-logo {
	width: 75%;
}

